
.arrowup{
    position:relative;

}
.dropdowncontent{
    position:absolute;
    visibility: hidden;
    
}
.dropdowncontent a{
    display:block;/* <a> is inline so we make it block so that it is displayed vertically and not horizontally */
    color: #5D6579;
    text-decoration:none;
    padding:10px 0px;
    
}
.dropdowncontent a:hover{
    color: #1D1D3A;
    text-decoration: underline;
}
.arrowup span{
    visibility: hidden;
    color:white;
    position:absolute;
    left:40%;
   
}

.dropdown:hover .dropdowncontent{
    visibility:visible;/*as visibility was made hidden*/
    background-color: #fff;
    width:max-content;
    border-radius:10px;
}

.dropdown:hover .arrowup span{
    visibility: visible;
}
.dropdown:hover .arrowup span{
    margin-top:30px;
}