.dropdown{
    position:relative;

}
.dropdowncontent{
    position:absolute;
    display:none;
}
.dropdowncontent a{
    display:block;/* <a> is inline so we make it block so that it is displayed vertically and not horizontally */
    color: #5D6579;
    text-decoration:none;
    padding:10px 0px;
    
}
.dropdowncontent a:hover{
    color: #1D1D3A;
    text-decoration: underline;
}
nav ul li span{
    display:none;
    color:white;
    position:absolute;
    left:40%;
    display:none;
}

.dropdown:hover .dropdowncontent{
    display:block;/*as display was made none when not hovered*/
    background-color: #fff;
    width:max-content;
    border-radius:10px;
    margin-top:20px;
}

.dropdown:hover span{
    display:inline;
}
.dropdown:hover span{
    margin-top:31px;
}