*{
    margin: 0;
    padding: 0;
    
}
nav{
    background-color:black ;
    
}
.wrapper{
    height:65px;
    position: relative;
    display:flex;
    align-items: center;
    justify-content:space-between;
   
}
.logol{
    color:gold;
}
.logo a{
    /* display:block; */
    padding:0 20px;
    text-decoration: none;
    color:red;
    font-size: 25px;
}
.navlinks  {
    display:flex;
    align-items:center;
    justify-items: center;
    height:100%;
}
.navlinks li{
    list-style: none;
    height:100%;
    
}
.navlinks li:hover{
    background-color:rgba(192, 192, 192, 0.159);
    border-radius: 4px;
}
/* note: here <a> is made flex so that we can align 
navlinks(<ul>) to the center of navbar. This is the
reason we made height of parents of <a> to 
100%[li,navlinks] */
.navlinks li a{
    height:100%;
    display:flex;
    align-items:center;
    padding:0 20px;
    text-decoration: none;
    color:gold;
    font-size: 20px;
   
   
}

.dropdown{
    background-color:black;
    position: absolute;
    top:65px;
    visibility: hidden;
    z-index:1;
}
.dropdown li a{
    color:white;
}
.dropdown li{
    margin:20px 0px;
}



.navlinks li:hover .dropdown{ /* used the concept of descendant selector in combinators */
    visibility: visible;
}
.navlinks li:hover .megamenu{ /* used the concept of descendant selector in combinators */
    visibility: visible;
}

.megamenu{
    position: absolute;
    left:0;
    background-color: black;
    width:100%;
    visibility: hidden;
}

.megamenu .megacontent{
display:flex;
align-items: center;
justify-content: space-between;
padding:0 20px;
height:100%;
border-top:1px solid white;

}
.megacontent .col {
height:100%;
display:flex;
justify-content: center;
align-items: center;
line-height: 50px;
}
.megacontent .col img{
    height: 90%;
    object-fit: cover;
}

.megacontent .col header a{
    color:gold;
    font-size: 30px;
    font-weight: 500;
  }
.megacontent .col li a{
    color: #f2f2f2;
    font-size: 20px;
    
}
.megalinks{
    border-left:1px solid rgba(255, 255, 255, 0.575);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 997px){
    .megacontent .col header a {
        color: gold;
        font-size: 20px;
        font-weight: 500;
    }
    .megacontent .col li a {
        color: #f2f2f2;
        font-size: 16px;
    }
    .megacontent .col img{
        height: 60%;
        object-fit: cover;
    }
    .megacontent .col{
        line-height:30px;
    }
.navlinks li a{
    font-size:18px;
}

}
@media screen and (max-width: 772px){
    .megamenu .megacontent{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding:0 20px;
        height:100%;
        border-top:1px solid white;
        
        }
        .megacontent .col img{
            width:70vw;
            object-fit: cover;
        }
        .megalinks {
            border-bottom: 1px solid rgba(255, 255, 255, 0.575);
            border-left: 0px solid rgba(255, 255, 255, 0.575);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .col{
            margin-top:16px;
        }
 
        .megacontent .col li a {
            color: #f2f2f2;
            font-size: 20px;
        }

        element.style {
        }
        .megacontent .col header a {
            color: gold;
            font-size: 30px;
            font-weight: 500;
        }
}

@media screen and (max-width:726px){
    .navlinks{
        
            display: flex;
            align-items: center;
            justify-items: center;
            height: 100%;
            position: absolute;
            left:0px;
            top:10px;
            flex-direction: column;
            background-color: black;
            height: 100vh;
            width: 30vw;
          }
        .logo{
            display:none;
        } 
        .dropdown{
            background-color:black;
            position: absolute;
            top:285px;
            /* visibility: hidden; */
            z-index:1;
        }
        .dropdown li{
            margin:5px 0px;
        }
    }

